<div class="repo">
  <img [src]="repo.owner.avatar_url" alt="userPhoto" class="repo__photo"/>
  <div class="repo__data__wrapper">
    <div class="repo__data__wrapper__header">
      <h4 class="repo__data__wrapper__header__name">{{ repo.name }}</h4>
      <img *ngIf="!inFavourite(repo)" class="repo__data__wrapper__header__star" src="assets/star.svg" alt="star"
           (click)="addToFav(repo)"/>
      <img *ngIf="inFavourite(repo)" class="repo__data__wrapper__header__star-fav" src="assets/star-fav.svg" alt="star"
           (click)="removeFromFav(repo)"/>
    </div>
    <p class="repo__data__wrapper__description">{{ repo.description ?? 'Brak opisu' }}</p>
    <p class="repo__data__wrapper__branch">{{ repo.default_branch }}</p>
  </div>
  <a class="repo__link" target="_blank" [href]="repo.html_url">
    <img src="assets/arrow.svg" alt="przejdź do repo"/>
  </a>
</div>
